<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render 'head' %>
		<meta name="description" content="Home Page">
	</head>
	<body>
		<%= render 'top-bar' %>
		<%= render 'nav-bar' %>
		<div class="container-fluid pb-3 pt-4" id="home-page-outer-container">
			<div class="container-fluid grey-background p-0" id="home-page-inner-container">
				<p class="responsive-text-size yellow-text">Bringing live music to you in a time of social distancing</p>
		 		<div class="text-center" id="home-page-img1-container">
					<%= image_tag("2020May17-pic1.jpg", alt: "First concert that inspired the idea for Driveway Bands", class: "blue-border img-fluid", id: "home-page-img1") %>
				</div>
				<div class="container d-inline-flex pb-3 pb-md-4 pt-sm-2 pt-md-3 px-1 text-left">
						<i class="responsive-text-small yellow-text">"When the music ended and the driveways had to clear, lawn chairs were carried off by neighbors lingering in the laughter, lightheartedness and support that the evening had provided.  - Ann B."</i>
				</div>
<!-- 				<p>
					<span>
						<i class="responsive-text-size testimonial-text yellow-text">"When the music ended and the driveways had to clear, lawn chairs were carried off by neighbors lingering in the laughter, lightheartedness and support that the evening had provided.  - Ann B."</i>
					</span>
				</p>
 -->		 		<div class="text-center" id="home-page-img2-container">
					<%= image_tag("2020May17-pic2.jpg", alt: "First concert that inspired the idea for Driveway Bands, pic 2", class: "blue-border img-fluid", id: "home-page-img2") %>
				</div>
				<p></p>
		 		<div class="text-center" id="home-page-img3-container">
					<%= image_tag("2020May17-pic3.jpg", alt: "First concert that inspired the idea for Driveway Bands, pic 3", class: "blue-border img-fluid", id: "home-page-img3") %>
				</div>
			</div>
		</div>
	</body>
</html>