<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render 'head' %>
		<meta name="description" content="Home Page">
	</head>
	<body>
		<%= render 'top-bar' %>
		<%= render 'nav-bar' %>
		<div class="container-fluid pb-3 pt-4" id="home-page-outer-container">
			<div class="container-fluid p-0" id="home-page-inner-container">
		 		<div class="text-center" id="home-page-img1-container">
					<%= image_tag("2020May17-pic1.jpg", alt: "First concert that inspired the idea for Driveway Bands", class: "blue-border img-fluid", id: "home-page-img1") %>
				</div>
				<p></p>
		 		<div class="text-center" id="home-page-img2-container">
					<%= image_tag("2020May17-pic2.jpg", alt: "Estes Park Sanitizing Solutions: what we do, page 2", class: "blue-border img-fluid", id: "home-page-img2") %>
				</div>
				<p></p>
		 		<div class="text-center" id="home-page-img3-container">
					<%= image_tag("2020May17-pic3.jpg", alt: "Estes Park Sanitizing Solutions: what we do, page 3", class: "blue-border img-fluid", id: "home-page-img3") %>
				</div>
			</div>
		</div>
	</body>
</html>